*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.btn{
  color: #fff;
  background-color: #666;
}
.btn:hover{
  background-color: black;
  color: white;
}
.btn:active{
  background-color: #fff;
  color: #666;
}
.navbar{
  position: fixed; top:0;
  width: 100%;
  z-index: 1;
}
.navbar .navbar-brand {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 27px;
}
.navbar-content{
  display: flex;
  justify-content:space-between;
}
.navbar-content ul {
  list-style-type: none;
  margin-top: 15px;
  padding: 0;
}
.navbar-content ul li{
  display: inline;
  float: left;
}
.navbar-content a{
  color: #666;
}
.navbar-content a:hover{
  color: #b4b4b4;
}
.navbar-content .badge{
  margin-left: -10px;
}

a{
  text-decoration: none;
  color: black;
}
a:hover{
  color: inherit;
}

.empty-cart{
  text-align: center;
  padding-bottom: 50px;
}
.empty-cart a{
  text-decoration: none;
  background: lightgrey;
  padding: 10px;
  color: gray;
  font-weight: bold;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.empty-cart a:hover{
  background-color: black;
  color: #fff;
}

.item-column {
  padding: 10px;
  position: relative;
}
.item-column img {
  border-radius: 5px;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.item-column:hover #add-to-cart-btn{
  visibility:visible;
}
.item-column:hover #out-of-stock-btn{
  visibility: visible;
}
.item-column:hover img {
  opacity: 0.6;
}
.item-column .middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.item-column:hover .middle {
  opacity: 1;
}
.view {
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 50%;
}

#out-of-stock-btn{
  width: 100%;
  border-radius: 5px;
  visibility: hidden;
  margin-top: 20px;
}
#add-to-cart-btn {
  width: 100%;
  border-radius: 5px;
  /*-webkit-transition-duration: 0.4s;
  transition-duration: 0.4s; */
  visibility: hidden;
  margin-top: 20px;
  color: #666;
}
#add-to-cart-btn:hover {
  background-color: black;
  color: white;
}

#add-to-cart-btn:active {
  background-color: #fff;
  color: #666;
  font-weight: bold;
}
.cart-img {
  width: 150px;
}
#items-btn {
  border: none;
  padding: 7px;
}
#items-btn:active {
  border: 2px solid black;
  padding: 7px;
}
#qty-btn {
  border: none;
  padding-left: 10px;
}

.product-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.badge {
  margin-left: 5px;
}
.table {
  border: 1px solid grey;
  padding-top: 400px;
}
.wrapper {
  margin-top: 100px;
}
.sidebar-wrapper {
  width: 20%;
  z-index: 1;
  overflow-y: hidden;
  opacity: 0.9;
  padding-top: 16px;
  position: fixed;
  height: 100vh;
}
.sidebar-nav {
  padding: 0;
  list-style-type: none;
}
.sidebar-nav li {
  text-indent: 5px;
  line-height: 40px;
}
.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: black;
}
.wrapper .sidebar-wrapper .sidebar-nav li a:hover {
  color: #fff;
  background: black;
  cursor: pointer;
}

.main-content-wrapper {
  margin-left: 27%;
}

.footer {
  background-color: black;
  text-align: center;
  padding: 30px;
  color: #fff;
}

.totals{
  border: 1px solid grey;
  width: 40%;
  padding: 20px;
  float: right;
}
#checkout-btn{
  width: 100%;
  text-transform: uppercase;
}
.rating {
  color: #b4b4b4;
}
.checked {
  color: #ffa500;
}
.big-search{
  display: none;
}

.menu-bars{
  padding-right: 10px; 
  padding-left: 5px; 
  display: none;
  position: relative;
  top: -7px;
}
.checkout-content{
  max-width: 400px;
  margin: 30px auto;
  padding-top: 10%;
}
.checkout-form-cover{
  border: 1px solid #f0f0f0;
  padding: 40px;
}
.checkout-form{
  border: 1px solid #f0f0f0;
  padding-top: 10px;
}
.checkout-form button{
  width: 100%;
  margin-top: 10px;
  border: none;
  padding: 5px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.checkout-form button:hover{
  background-color: black;
  color: #fff;
}
.checkout-form button:active{
  background-color: #fff;
  color: #666;
}

.nav-menu {
  background-color: #666;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: -100%;
  transition: 850ms;
}
.nav-menu .active{
  left: 0;
  transition: 350ms;
  width: 250px;
}
.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 0px;
  list-style-type: none;
  height: 60px;
}
.nav-menu-items{
  width: 100%;
}
.navbar-toggle{
  background-color: #060b26;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .big-search{
    display: block;
  }
  .sidebar-wrapper{
    display: none;
  }
  .main-content-wrapper {
    margin: 0;
  }
  .item-column img{
    width: 100%;
  }
  .item-column .middle {
    display: none;
  }
  #add-to-cart-btn{
    visibility: visible;
  }

  .menu-bars{
    padding-right: 10px;
    display: initial;
  }
  .totals{
    width: 100%;
    padding: 20px;
    float: none;
  }
  #sec-side{
    display: block;
  }
}
